@use 'variables';


.gallery{
    &__image-container{
        height: 300px;
        width: 100%;
        background-image: url(../imagenes/producto.jpg);
        background-size: cover;
       
    }
    &__previous{
        background-color: variables.$White;
        width: 40px;
        height: 40px;
        padding: 9px;
        border-radius: 50%;
        position: absolute;
        top: 170px;
        left: 15px;
        &:hover {
           cursor: pointer;
        }
    }
    &__next{
        background-color: variables.$White;
        width: 40px;
        height: 40px;
        padding: 9px;
        border-radius: 50%;
        position: absolute;
        top: 170px;
        left: 340px;
        &:hover {
           cursor: pointer;
        }
    }
    &__thumnails{
        display: none;
        @media (min-width: 1115px){
            display: block;
        }
    }
}