@use 'variables' as v;


.gallery{
    &__image-container{
        height: 300px;
        width: 100%;
        background-image: url(../imagenes/gafas2.png);
        background-size: cover;
        background-position-y: -50px;
        @media (min-width: 1115px){
            background-image: url(../imagenes/producto.png);
            background-position-y: -260px ;
        }
    }
    &__previous{
        background-color: v.$White;
        width: 40px;
        height: 40px;
        padding: 9px;
        border-radius: 50%;
        position: absolute;
        top: 170px;
        left: 15px;
        &:hover {
           cursor: pointer;
        }
    }
    &__next{
        background-color: v.$White;
        width: 40px;
        height: 40px;
        padding: 9px;
        border-radius: 50%;
        position: absolute;
        top: 170px;
        left: 340px;
        &:hover {
           cursor: pointer;
        }
    }
    &__thumnails{
        display: none;
        @media (min-width: 1115px){
            display: block;
        }
    }
}