*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: black;
}

img{
    width: 20px;
    height: 20px;
}
.thumnails{
    width: 150px;
    height: 150px;
}