@use 'variables'as v;
@use 'mixins';

.modal-gallery {
    width: 550px;
    
    &__background {
        @include mixins.modal-background;
        display: none;
        place-content: center;
    }

    &__close-conteiner {
        text-align: right;
        height: 30px;
    }

    &__close {
        width: 16px;

        &:hover {
            cursor: pointer;
            content: url(imagenes/borrar.png);
        }
    }

    &__image_conteiner {
        background-image: url(imagenes/gafas1.jpg);
        height: 446px;
        background-size: cover;
        border-radius: 16px;
        margin-bottom: 32px;
        position: relative;
        
    }

    &__thumbnails {
        display: flex;
        justify-content: space-between;
        width: 450px;
        margin: auto;
        
    }

    .modal-gallery__thumbnail {
        width: 90px;
        height: 90px;
        border-radius: 16px;

        &:hover {
            cursor: pointer;
            border: 2px solid v.$Orange;
        }
    }

    &__previous {
        background-color: v.$White;
        width: 40px;
        height: 40px;
        padding: 9px;
        border-radius: 50%;
        position: absolute;
        top: 220px;
        left: -22px;

        &:hover {
            cursor: pointer;
        }

        @media (min-width: 1115px) {
            //display: none;
        }
    }

    &__next {
        background-color: v.$White;
        width: 40px;
        height: 40px;
        padding: 9px;
        border-radius: 50%;
        position: absolute;
        top: 220px;
        left: 530px;

        &:hover {
            cursor: pointer;
        }

        @media (min-width: 1115px) {
            //display: none;
        }
    }
}