@use 'variables'as v;
@use 'mixins';

.modal-navbar {
    
    &__background {
        width: 250px;
        height: 990px;
        background-color: v.$White;
        position: absolute;
        top: 5px;
        left: 0px;
        padding: 5px;
        z-index: 1;
        display: none;
    }
       

    &__items {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
        list-style: none;
        margin-top: 50px;
    }

    &__link {
        text-decoration: none;
        color: v.$Very-vark-blue;
        font-weight: 700;
        font-size: 1.1em;
    }

    &__close-icon:hover {
        cursor: pointer;
    }
}